{{define "employee/indexPage"}}
{{ template "Header" }}
{{ template "Menu"  }}
<div class="title">Registro</div>

<div class="table table-dark bg-white p-5" style="opacity: 91%; ">
  <a href="/employee/form">AGREGAR EMPLEADO</a>
  <table class="table table-striped">
  <thead>
  <tr>
    <td>Nº</td>
    <td>Nombre</td>
    <td>Ciudad</td>
    <td>Vista</td>
    <td>Editar</td>
    <td>Eliminar</td>
  </tr>
   </thead>
   <tbody>
  {{ range $i, $d := .Widgets  }}
    <tr>
      <td>{{ inc $i }} </td>
      <td> {{ $d.Name }} </td>
      <td>{{ $d.City }} </td> 
      <td><a href="../employee/show?id={{ $d.ID }}">Ver</a></td>
      <td><a href="../employee/form?id={{ $d.ID }}">Editar</a></td>
      <td><a href="../employee/delete?id={{ $d.ID }}" onclick="return confirm('Estas seguro?');">Delete</a></td>
    </tr>
  {{ end }}
   </tbody>
  </table>

</div>

<script>
  function confirmToDelete(){
    if(confirm('Estas seguro?')) ;
  }
</script>
{{ template "Footer" }}
{{end}}

